/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);

}

p{
  color: rgb(255, 255, 255) !important;
}
h1,h2,h3,h4,h5,h6{
  color: rgb(255, 255, 255) !important;
}
/* Add more global styles here */
.wrapper{
  background: #181818 !important;
}
html{
  color: rgb(255, 255, 255);
  background: #181818 !important;
}